.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  margin-bottom: -3.5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.SingleColorPalette .ColorBox {
  height: 50%;
}

.ColorBox.go-back {
  background: rgba(0, 0, 0, 0.9);
}

.copy-button,
.back-button {
  width: 100px;
  height: 30px;
  margin-left: -50px;
  margin-top: -15px;
  left: 50%;
  top: 50%;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: white;
  display: inline-block;
  font-size: 1rem;
  line-height: 30px;
  outline: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
